<!doctype html>
<html lang="en" ng-app="myApp" ng-controller="AppCtrl">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Awesome Interface, an interface implementation of awesome lists.">
      <meta name="author" content="Ankit Gyawali">
      <meta name="keywords" content="awesome interface, pogramming lists, guide, programming, awesome lists, awesome github, awesome resource, pogramming guide">
      <meta name="apple-mobile-web-app-title" content="Awesome Interface">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Awesome Interface</title>
      <link href="bower_components/bootstrap/less/bootstrap.css" rel="stylesheet">
      <link href="bower_components/css-toggle-switch/dist/toggle-switch.css" rel="stylesheet">
      <link href="bower_components/rangeslider.js/dist/rangeslider.css" rel="stylesheet">
      <link href="css/maverix.css" rel="stylesheet">

   </head>
   <body>
      <div class="sidebar">
         <div class="sidebar-navicontainer">
            <div class="sidebar-headbox">
               <span class="sidebar-header">Awesome Interface</span>
               <a class="sidebar-toggle">Hide</a>
            </div>
            <ul class="nav">
               <li ng-class="{ selected: isActive('/home')}"><a href="#/home"><span class="entypo-home"></span>
                  Home</a>
               </li>
               <li ng-class="{ selected: isActive('/search')}"><a href="#/search"><span class="entypo-search"></span>
                  Search List</a>
               </li>
            </ul>
         </div>
         <div class="sidebar-navicontainer">
            <div class="sidebar-headbox">
               <span class="sidebar-header">Awesome Lists</span>
               <a class="sidebar-toggle">Hide</a>
            </div>
            <ul class="nav">
               <li ng-repeat="header in root.headers" ng-class="{ selected: isActive('/awesome/{{header.title}}')}"><a href="#/awesome/{{header.title}}" ng-click="displayAwesome($index)"><span class="entypo-list"></span>{{header.title}}</li>
               </a>
            </ul>
         </div>
         <div class="sidebar-navicontainer">
            <div class="sidebar-headbox">
               <span class="sidebar-header">Awesome Extras</span>
               <a class="sidebar-toggle">Hide</a>
            </div>
            <ul class="nav">
               <li ng-class="{ selected: isActive('/about')}">
                  <a href="#/about">
                     <span class="entypo-info"></span>
                     About
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="heading-bar">

         <span class="heading-one"><img ng-src="{{img}}" width="48"
            height="48"> {{title}}</span>
         <div id="top-switch" class="osx-switch" ng-if="showTopToggle">
            <b>
            <a style="color:inherit;" href="https://github.com/ankitgyawali/awesome-interface" target="_blank"><span class="entypo-share"></span> Fork me on Github</a></b>
         </div>
      </div>
      <div class="content">
         <div class="container-fluid container-maverix" ng-view>
         </div>
      </div>
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="bower_components/rangeslider.js/dist/rangeslider.min.js"></script>
      <script src="bower_components/flot/jquery.flot.js"></script>
      <script src="bower_components/flot/jquery.flot.pie.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="app/js/app.js"></script>
      <script src="app/js/services.js"></script>
      <script src="app/js/controllers.js"></script>
      <script src="app/js/filters.js"></script>
      <script src="app/js/directives.js"></script>
      <script src="app/default.js"> </script>
   </body>
</html>