<h1 class="ng-scope">About Awesome Interface</h1>



<hr class="ng-scope">

      <p>Awesome interface started out as a practice python project. Because most of the awesome lists follow the format provided by awesome manifesto, it seemed like a good idea to target all the awesome lists, parse data from them and and dump it to a JSON object.
      	</p>
      	<p>
      		Since I already had the JSON, might as well us it to render the lists in a user friendly way for the developers in the community! The python scripts used to scrap the data from awesome lists were <a href="https://github.com/ankitgyawali/awesome-interface/blob/master/init.py" target="_blank">init.py</a> and <a href="https://github.com/ankitgyawali/awesome-interface/blob/master/parse.py" target="_blank">parse.py</a>.
      	</p>
<br>
<h2>Future Considerations</h2>
If the community wants, I could expand on this project by perhaps creating a login system where user can create, review and vote custom lists. Popular custom lists could be something like a guide towards learning certain topic or maybe a list of concert events of certain celebrity. Suggestions are appreciated.