<div class="sub-nav">
    <ul>
        <li ng-class="{selected : $parent.subNav1 === 0}"><a href="" ng-click="$parent.subNav1 = 0">Overview</a></li>
    </ul>
</div>

<div class="sub-nav-content-container">
    <div ng-show="$parent.subNav1 === 0">

        <h2>Awesome Interface</h2>

            <h2>Overview</h2>
        <table class="table-content-block">
            <tr>
                <td class="td-label">Introduction</td>
                <td>Parses awesome lists from github repositories, and displays them in a user friendly format.</td>

            </tr>
            <tr>
                <td class="td-label">How it Works</td>
                <td>Choose an awesome list from the left side panel to view contents of the list. You can also filter, sort and save content for offline viewing.</td>
                
            </tr>
        </table>

        <h2>Links</h2>
        <table class="table-content-block">
            <tr>
                <td class="td-label">Github Repository:</td>
                <td><a href="https://github.com/ankitgyawali/awesome-interface" target="_blank">https://github.com/ankitgyawali/awesome-interface</a></td>
            </tr>

        </table>

    </div>


  
</div>

