<div class="sub-nav">
   <ul>
      <li ng-class="{selected : $parent.subNav1 === 0}"><a href="" ng-click="$parent.subNav1 = 0">Overview</a></li>
   </ul>
</div>
<br>
<div class="sub-nav-content-container">
   <div ng-show="$parent.subNav1 === 0">
      <h1 class="ng-scope">awesome-interface <img src="https://cdn.rawgit.com/sindresorhus/awesome/d7305f38d29fed78fa85652e3a63e154dd8e8829/media/badge.svg" /></h1>
      <hr class="ng-scope">
   </div>
   <h2>Overview</h2>
   <table class="table-content-block">
      <tr>
         <td class="td-label">Introduction</td>
         <td>Parses the master <a href="https://github.com/sindresorhus/awesome" target="_blank">awesome</a> lists from github repository, and displays all awesome lists in a user friendly format.</td>
      </tr>
      <tr>
         <td class="td-label">How it Works</td>
         <td>Choose an awesome list from the left side panel to view contents of the list. The list will contains awesome sublists for your viewing!</td>
      </tr>
   </table>
   <h2>Links</h2>
   <table class="table-content-block">
      <tr>
         <td class="td-label">Github Repository:</td>
         <td><a href="https://github.com/ankitgyawali/awesome-interface" target="_blank">https://github.com/ankitgyawali/awesome-interface</a></td>
      </tr>
      <tr>
         <td class="td-label">Report Issues:</td>
         <td><a href="https://github.com/ankitgyawali/awesome-interface/issues" target="_blank">https://github.com/ankitgyawali/awesome-interface/issues</a></td>
      </tr>
   </table>
</div>